*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.videocontainer{
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    
}


.header{    
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/background.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#story{
    font-family: Georgia;
    font-weight: 20;
    color: #fff;
    display: inline-block;
    padding-top: 1%;
    padding-left: 7%;
    padding-right: 7%;
    word-spacing: 3px;
    line-height: 25px;

}


#nav-story{
    color: #fff;
}




nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center; 
}

nav img{
    width: 400px;
    display: block;
    transition: border 0.6s ease; 
    border-bottom: 2px solid transparent; 
    border-radius: 8px;
    border-width: 0%;

}

nav img:hover{
    border-color: #8F5A3C; 
    border-width: 100%;
}



.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    font-family: 'Georgia';
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #8F5A3C;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}


footer.footer {
    height: 30px;
    width: 100%;
    background-color: #202A44;
    position:absolute; 
    bottom:0px; 
    left:0px;
}

p.copyright {
    color: #fff;
    line-height: 30px;
    font-size: 0.7em;
    text-align: center;
}

.box{
    width: 330px; 
    border-radius: 10px;
    padding: 40px 30px;
    margin-top: 100px;
    box-shadow: -3px -3px 9px #E5E4E2,
                3px 3px 7px #E5E4E2;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
   
  }

.box .text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 50px;
    color: #fff;
    text-align: center;
  }


  .box .field{
    height: 40px;
    width: 100%;
    display: flex;
    position: relative;
    padding-bottom: 5px;
  }

  .field input{
    height: 100%;
    width: 100%;
    padding-left: 45px;
    font-size: 15px;
    font-family: georgia;
    outline: none;
    border: none;
    color: #e0d2d2;
    border: 2px solid rgba(255, 255, 255, 0.438);
    border-radius: 8px;
    background: rgba(183, 102, 102, 0);
  }

  button{
    margin: 25px 0 0 0;
    width: 100%;
    height: 35px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    font-family: georgia;
    border: 2px solid rgba(255, 255, 255, 0.438);
    border-radius: 8px;
    background: rgba(105, 105, 105, 0);
    outline: none;
    cursor: pointer;
    border-radius: 8px;

  }

  button:hover {
    background: rgba(210, 199, 199, 0.3);
  }

  .box .or{
    color: #E5E4E2;
    margin-top: 20px;
    text-align: center;
  }


