input[type="text"] {
    padding: 5px;
    border-radius: 3px;
    border: none;
    box-shadow: 1px 1px 3px #aaa;
    font-size: 16px;
    margin-right: 10px;
}

input[type="submit"] {
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    box-shadow: 1px 1px 3px #aaa;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}