<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- reference for classes-->
    <typeAliases>
        <typeAlias alias = "Gamer" type = "com.assignment.suzume.tictactoe.player.Gamer"/>
    </typeAliases>

    <environments default = "default">
        <environment id = "default">
            <transactionManager type = "JDBC"/>

            <dataSource type = "POOLED">
                <property name = "driver" value = "com.mysql.cj.jdbc.Driver"/>
                <property name = "url" value = "jdbc:mysql://127.0.0.1:3306/suzume_database"/>
                <property name = "username" value = "root"/>
                <property name = "password" value = ""/>
            </dataSource>

        </environment>
    </environments>

    <mappers>
        <mapper resource = "mapper/GamerMapper.xml"/>
<!--        <mapper resource = "classpath:mapper/GamerMapper.xml"/>-->
    </mappers>

</configuration>