<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- reference for classes-->
    <typeAliases>
        <typeAlias alias = "Gamer" type = "com.assignment.suzume.tictactoe.player.Gamer"/>
    </typeAliases>

    <environments default = "development">
        <environment id = "development">
            <transactionManager type = "JDBC"/>

            <dataSource type = "POOLED">
                <property name = "driver" value = "com.mysql.cj.jdbc.Driver"/>
                <property name = "url" value = "jdbc:mysql://aws.connect.psdb.cloud/suzume?sslMode=VERIFY_IDENTITY"/>
                <property name = "username" value = "v32ol4xksz1huygc4fd9"/>
                <property name = "password" value = "pscale_pw_jWyTI3SpLP0SZX7nR0Mnb6SzGOgMSL3iuggckGI10Ji"/>
            </dataSource>

        </environment>
    </environments>

    <mappers>
        <mapper resource = "mapper/GamerMapper.xml"/>
    </mappers>

</configuration>